description = "Footer"
==
<div class="mt-5 pt-5 pb-5 footer bg-dark">
<div class="container">
  <div class="row text-light">
    <div class="col-lg-4 col-xs-12 about-company">
        <img src="{{"Block.png"|media}}" class="" style="max-width: 200px" alt="Lisbeth Herrera Teams Logo White">
      <h2 class="text-primary">{{ "Lisbeth Herrera Team" |_ }}</h2>
      <p class="pr-5 text-white-50">{{ "Passion for Real Estate" }}</p>
    </div>
    <div class="col-lg-4 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3 text-primary">{{"Links"|_}}</h4>
        <ul class="m-0 p-0 list-unstyled">
          <li class=""><a href="/" class="badge badge-light">{{ "Home" |_}}</a></li>
          <li class=""><a href="/contact" class="badge badge-light">{{"Contact Us"|_}}</a></li>
          <li class=""><a href="/blog" class="badge badge-light">{{"Blog"|_}}</a></li>
        </ul>
    </div>
    <div class="col-lg-4 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4 text-primary">{{"Location"|_}}</h4>
      <p>6285 Miller's Groove, Mississauga, ON L5N 3C6</p>
      <h6 class="mb-0"><a href="tel:6478331171" class="text-white-50"><i class="fa fa-phone mr-3"></i>(647) 833-1171</a></h6>
      <h6><a href="mailto:info@lisbethherrera.com" class="text-white-50"><i class="fa fa-envelope-o mr-3"></i>info@lisbethherrera.com</a></h6>
      <h4 class="mt-lg-4 mt-sm-4 text-primary">{{"Follow Us"|_}}</h4>
      <p class="text-light">
      <a target="_blank" href="https://www.facebook.com/lisbethherrerarealtor"><i class="fa fa-facebook-square fa-3x mr-2 text-light"></i></a>
      <a target="_blank" href="https://www.instagram.com/lisbethherrerarealtor/?hl=en"><i class="fa fa-instagram fa-3x mr-2 text-light"></i></a>
      <a target="_blank" href="https://twitter.com/lisbeth_herrera?lang=en"><i class="fa fa-twitter fa-3x mr-2 text-light"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/lisbethherrera"><i class="fa fa-linkedin fa-3x mr-2 text-light"></i></a>
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col copyright">
      <p class=""><small class="text-white-50">© 2021. {{"All Rights Reserved"|_}}.</small></p>
    </div>
  </div>
</div>
</div>